@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}

/* HEADER-START */
.header{
   display: flex;
   align-items: center;
   justify-content: center;
   margin:50px 5px;
}

.logo{
    display: flex;
    align-items: center;
}
 
.logo-circle{
    display: flex;
    flex-direction: column;
    margin-right: 6px;
}
.header .logo .circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.header .logo .logo-circle .circle-1{
    background-color: #887a98;
    margin-left: 10PX;
}
.header .logo .logo-circle .circle-2{
    background-color: #4f93a6;
}

/* HEADER FINISH */